<div class="control-panel-container text-center" ng-class="{ 'active': showMenu }">
    <div class="container-fuild">
        <div class="row">
            <div class="col-sm-1 col-lg-3 hidden-xs"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                <ul class="ul-horizontal">
                    <li class="col-xs-2">
                        <a ng-click="attackPokemon()" class="fa fa-gavel"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="catchPokemon()" class="">
                            <img src="/pokemon/pokeball-white.png" class="pokemon-ball" />
                        </a>
                    </li>
                    <li class="col-xs-2">

                    </li>
                    <li class="col-xs-2">

                    </li>
                    <li class="col-xs-2">

                    </li>
                    <li class="col-xs-2">
                        <a ng-click="toggleMenu()" class="fa fa-bars"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1 col-lg-3 hidden-xs"></div>
        </div>
    </div>
</div>