<footer class="footer-container text-center">
    <div class="container-fuild">
        <div class="row">
            <div class="col-sm-1 col-lg-3 hidden-xs"></div>
            <div class="col-xs-12 col-sm-10 col-lg-6">
                <ul class="ul-horizontal">
                    <li class="col-xs-2">
                        <a ng-click="mapMenu()" class="fa fa-street-view"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="pokedexMenu()" class="fa fa-tablet"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="pokemonMenu()" class="fa fa-paw"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="bagMenu()" class="fa fa-briefcase"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="conversationMenu()" class="fa fa-comments-o"></a>
                    </li>
                    <li class="col-xs-2">
                        <a ng-click="optionMenu()" class="fa fa-cog"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1 col-lg-3 hidden-xs"></div>
        </div>
    </div>
</footer>